$lightblue: #8ecae6;
$mediumblue: #219ebc;
$darkblue: #023047;
$lightorange: #ffb703;
$darkorange: #fb8500;
$back: linear-gradient(45deg, #8ecae6, #ffb703);
/* background: linear-gradient(#e66465, #9198e5); */
